<section id="profile">
    <div class="container">
        <div class="row mt-5">
            <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12 profile-header">

                    </div>
                </div>
                <div class="row user-details">
                    <div class="col-12">
                        <img src="https://www.nelson-chambers.co.uk/front/images/default-user.jpg" alt="imagen">
                        <h5>Nombre user</h5>
                        <p>
                            Email user
                        </p>
                        <hr>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita reiciendis soluta beatae laudantium explicabo impedit iure reprehenderit voluptate? Enim laboriosam ipsum saepe consequuntur ratione ea blanditiis dicta incidunt accusamus commodi!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>