<section id="offers" class="books-section">
	<div class="container">
		<div class="row">
			<div *ngFor="let book of books" class="col-xs-12 col-sm-6 col-md-4">
				<div class="card-book">
					<div class="card">
						<div class="card-body text-center">
							<img class="card-img-top" src="{{book.portada}}" alt="{{book.titulo}}">
							<h4 routerLink="/book/{{book.id}}" class="card-title">{{book.titulo}}</h4>
							<p class="card-text">{{book.descripcion | truncateText : 20}}</p>
							<div class="d-flex justify-content-around">
								<p class="badge badge-info">${{book.precio}}</p>
								<p *ngIf= "book.oferta" class="badge badge-success">¡En oferta!</p>
								<p class="badge {{book.idioma == 'Inglés' ? 'badge-warning' : 'badge-danger'}}">{{book.idioma}}</p>
							</div>
							<a href="{{book.link_amazon}}" class="btn btn-block btn-primary" target="_blank">Buy</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>