<section id="list-books">
    <div class="col">
        <code>{{selectedBook | json}}</code>
        <button type="button" class="btn btn-primary mb-3 float-right" (click)="onCreateBook()"
        data-toggle="modal" data-target="#modalBook">Nuevo libro</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Idioma</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Oferta</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let book of books | paginate: { itemsPerPage: 5, currentPage: page }; index as i; ">
                    <th scope="row">{{i+1}}</th>
                    <td>{{book.titulo}}</td>
                    <td>{{book.autor}}</td>
                    <td>{{book.idioma}}</td>
                    <td>${{book.precio}}</td>
                    <td>{{book.oferta == 1 ? 'Si' : 'No'}}</td>
                    <td><button class="btn btn-primary"  (click)="onUpdateBook(book)" data-toggle="modal" data-target="#modalBook" >Actualizar</button></td>
                    <td><button class="btn btn-danger"  (click)="onDeleteBook(book.id)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        <pagination-controls 
            (pageChange)="page = $event" 
            previousLabel="Anterior"
            nextLabel="Siguiente"></pagination-controls>
    </div>
</section>

<app-modal [selectedBook] = selectedBook></app-modal>
<ngx-spinner></ngx-spinner>