<section id="list-books">
    <div class="col">
        <button class="btn btn-primary mb-3 float-right">New Book</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Language</th>
                    <th scope="col">Price</th>
                    <th scope="col">Offer</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let book of books; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{book.titulo}}</td>
                    <td>{{book.autor}}</td>
                    <td>{{book.idioma}}</td>
                    <td>${{book.precio}}</td>
                    <td>{{book.oferta == 1 ? 'Yes' : 'No'}}</td>
                    <td><button class="btn btn-primary">Update</button></td>
                    <td><button class="btn btn-danger"  (click)="onDeleteBook(book.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
