/* You can add global styles to this file, and also import other style files */
code {
    margin-bottom: 15px;
    font-size: 0.7rem;
    display: block;
    background-color: whitesmoke;
}

.books-section{
    border-radius: 0.25rem;
    background-color: #f9f9f9 !important;
}

section{
    padding: 20px 0;
}

.card-book{
    position: relative;
    transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.card-book .card{
    min-height: 312px;
    border:none;
    background: #fff;
}

p.card-text,
h4.card-title{
    min-height: 96px !important;
}

.card-title{
    color: #007bff;
    cursor: pointer;
}

.card-book .card .card-body img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}