<section id="login" class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card-login">
                    <div class="card">
                        <div class="card-body text-center">
                            <form #f="ngForm" (ngSubmit)="f.form.valid && onLogin(f)">
                                <code>Form is valid: {{f.valid | json}}</code>
                                <div class="alert alert-danger" role="alert" *ngIf = "hasError">{{errorMessage}}</div>
                                <h1 class="h3 mb-3 font-weight-normal" *ngIf="!hasError">Login</h1>
                                <div class="form-group">
                                    <input type="email" #email="ngModel" name="email" placeholder="Email"
                                        class="form-control" required email [(ngModel)]="user.email"
                                        [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched) }">
                                      
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                                        <div *ngIf="email.errors.required">Ingresa tu correo electrónico</div>
                                        <div *ngIf="email.errors.email">Ingresa un email válido</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" #password="ngModel" name="password" placeholder="Password"
                                        class="form-control" required minlength="6" [(ngModel)]="user.password"
                                        [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched) }">
                                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                                        <div *ngIf="password.errors.required">Ingresa tu contraseña</div>
                                        <div *ngIf="password.errors.minlength">La contraseña debe tener al menos 6
                                            caracteres</div>
                                    </div>
                                </div>
                                <button type="submit" [disabled]="!f.valid" class="btn btn-lg btn-primary btn-block">Iniciar sesión</button>
                                <div>
                                    <a routerLink="/user/login">¿Nuevo? Crea una cuenta.</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>