<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/">{{appName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item " *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/offers">Offers</a>
            </li>
        </ul>
        <ul>
            <code>isLoggedIn: {{isLoggedIn}}</code>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/user/register" *ngIf="!isLoggedIn">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/profile" *ngIf="isLoggedIn">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/list-books" *ngIf="isLoggedIn">List Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/login" *ngIf="!isLoggedIn">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="onLogout()" *ngIf="isLoggedIn">Logout</a>
            </li>
        </ul>
    </div>
</nav>